
---

### **7. `.gitignore`**
```text
# Datos y modelos
data/full_dataset/
models/
*.pkl
*.h5
*.keras

# Entornos virtuales
venv/
.env
emotion-lstm-env/

# Python
__pycache__/
*.py[cod]

# Mac
.DS_Store
**/.DS_Store